.App {
  min-height:100vh;
  background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%);
  background: #f6f6f6;
}


.header {
  background-color: #90A2C2;
  /* background-color: #636E72; */
  padding: 0.5em 0 0.6em 0;
  margin: 0 auto;
  /* box-shadow: 0 1px 10px blue; */
}

.app-title {
  font-family: linuxLibertine;
  color: #FCE5E5;
  text-align: center;
  font-size: 2.7rem;
  letter-spacing: 0.3ch;
  margin: 0.3em 0;
  text-shadow: 0 0 3px #000;
             text-shadow: -1px 1px 0 #424C55, 
                          1px 1px 0 #424C55, 
                         1px -1px 0 #424C55, 
                        -1px -1px 0 #424C55; 
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.2em;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
  border-radius: 10px 0 0 10px;
}

.search-button {
  background: lightcoral;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 0 10px 10px 0;
  letter-spacing: 0.2ch;
}

.results-message {
  font-size: 1.1rem;
  margin-bottom: 0;
  margin-top: 1.8em;
  text-align: center;
  font-style: italic;
}

/* Recipes Section */

.recipes {
  margin: 2.5em 2em;
  margin: 1.8em;
  /* display: flex;
  justify-content: space-around;
  flex-wrap: wrap; */


  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(3, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* grid-template-rows: mixmax(80px, 700px); */
  /* grid-auto-flow: dense; */

}
